{% load i18n %}
<nav class="navbar navbar-expand-lg navbar-dark bg-dark ftco-navbar-light" id="ftco-navbar">
    <div class="container">
        <a class="navbar-brand" href="index.html">Stories<span>.</span></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#ftco-nav" aria-controls="ftco-nav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="oi oi-menu"></span> Menu
    </button>

        <div class="collapse navbar-collapse" id="ftco-nav">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item active"><a href="{% url 'core:home' %}" class="nav-link">{% trans 'Home' %}</a></li>
                <li class="nav-item"><a href="about.html" class="nav-link">{% trans 'About' %}</a></li>
                <li class="nav-item"><a href="strories.html" class="nav-link">{% trans 'Stories' %}</a></li>
                <li class="nav-item"><a href="{% url 'stories:recipes_page' %}" class="nav-link">{% trans 'Recipes' %}</a></li>
                <li class="nav-item"><a href="{% url 'core:contact' %}" class="nav-link">{% trans 'Contact' %}</a></li>
                {% if request.user.is_authenticated %}
                <li><a href="{% url 'accounts:logout' %}" class="btn btn-black px-3 px-md-4 py-3">{% trans 'Log out' %}</a></li>
                {% else %}
                <li><a href="{% url 'accounts:login' %}" class="btn btn-black px-3 px-md-4 py-3">{% trans 'Sign in' %}</a></li>
                {% endif %}

                <li>
                    <form action="{% url 'set_language' %}" method="post">
                        {% csrf_token %}
                        <input name="next" type="hidden" value="{{ request.get_full_path|slice:'3:' }}" />
                        <select name="language" onchange="this.form.submit()">
                            {% get_current_language as LANGUAGE_CODE %}
                            {% get_available_languages as LANGUAGES %}
                            {% get_language_info_list for LANGUAGES as languages %}
                            {% for language in languages %}
                              <option value="{{ language.code }}"{% if language.code == LANGUAGE_CODE %} selected {% endif %}>
                                {{ language.name_local }} ({{ language.code }})
                              </option>
                            {% endfor %}
                        </select>
                      </form>
                
                </li>
            </ul>
        </div>
    </div>
</nav>